matplotlib >= 1.5.1
nibabel >= 2.0.2
nose == 1.3.1
nose-cov
numpy >= 1.11
setuptools >= 3.3
scikit-learn >= 0.18
nilearn >= 0.4
pandas >= 0.18
scipy >= 0.17
numpydoc >= 0.5
ipython
Sphinx
sphinx-rtd-theme
Pillow
packaging
configparser
future >= 0.16.0
traits >= 4.6
simplejson >= 3.8.0
prov == 1.5.0
funcsigs
click
patsy >= 0.4.1
